body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

div,p, button, span, a{
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-weight: 800;
	text-transform: uppercase;
}

h1{
	font-size: 48px;

}
h2{
	font-size: 20px;
}

h3{
	font-size: 15px;
}

section{
	padding-top: 118px;
}

.container{
	width: 930px;
	margin: 0 auto;
	padding: 0;
}

.header{
	background: url('../img/background.jpg') no-repeat center top;
	padding-top: 45px;
	padding-bottom: 250px;
}

.ofer{
	margin-top: 248px;

}

.ofer p{
	font-size: 22px;
	margin-top: 10px;
}

.merits{
	display: flex;
	justify-content: space-between;
	margin-top: 55px;
}

.unit{
	width: 340px;
	background: url('../img/icon1.jpg') no-repeat left top;
	padding-left: 86px;
	padding-top: 15px;
}

.unit:nth-child(2){
	background: url('../img/icon2.jpg') no-repeat left top;
}

.unit:nth-child(3){
	background: url('../img/icon3.jpg') no-repeat left top;
}

.unit h3{
	margin-bottom: 5px;
}

.photos{
	display: flex;
	justify-content: space-between;
	margin-top: 85px;
	margin-bottom: 94px;
}

.btn{
	background:  yellow;
	color: black;
	font-weight: 800;
	width: 236px;
	padding: 17px 0px;
	text-align: center;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.15s ease;
}

.btn:hover{
	background: orange;
}

.footer{
	background: black;
	font-size:  13px;
	margin-top: 116px;
	padding: 55px 0px;
}

.foterit{
	display: flex;
}

.fottext{
    margin-right: 75px;
}

.fottext a{
	text-decoration: none;
	color: white;
	transition: all 0.5s ease;
}
.fottext a:hover{
	color: gray;
}


/*---- Adaptive_Media ----*/
/*при максимальной ширини и мении будет работать запрос*/

@media (max-width: 1160px) {

    .container{     /*реальная шырына ==with 100% + border=0 + padding 15+15*/
        width: 95%;
        padding: 0 10px;
        text-align: center;
    }

    .main{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu__item{
        padding: 0;
        margin: 0;
        font-size: 35px;
    }

    .text {
        margin: 10px;
        text-align: center;
        font-size: 15px;
        padding: 10px 0;
    }

    .text__big {
        font-size: 35px;
    }

    .button{
        margin: 45px 0;
        width: 135px;
        padding: 10px 10px;
        background-color: transparent;
        outline: none;
        color: white;
        font-size: 15px;
        text-transform: capitalize;
        border: solid 1px white;
    }

    .develop {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .develop__main{
        text-align: center;
        font-size: 25px;
        padding: 20px 0;
    }

    .develop__main span {
        font-weight: bold;
        font-size: 35px;
    }

    .develop__text{
        text-align: center;
        padding: 30px;
        font-size: 12px;
        margin: 10px 0;
        width: 75%;
    }

    .develop__info{
        padding: 12px;
        font-size: 16px;
        margin: 0;
    }

    .develop__img,
    .develop__img.sec {
        width: 165px;
        height: 130px;
        margin: 0;
    }

    .client__user {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 40px 0;
    }




}